<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="account1" class="pvu.spring.core.beandefinition.Account">
        <property name="id" value="1"/>
        <property name="ownerName" value="John"/>
        <property name="balance" value="21.2"/>
    </bean>

    <bean id="account2" class="pvu.spring.core.beandefinition.Account">
        <property name="id" value="2"/>
        <property name="ownerName" value="Roger"/>
        <property name="balance" value="26.9"/>
    </bean>
</beans>